{% if settings.display_three_block_banner %}

<section class="banner-home-top container">
<div class="widget-title wow fadeIn">   
  <fieldset class="box-title">
      <legend align="center">
      קולקציות
      </legend>
    </fieldset>
  </div>
  <ul class="row">
    <li class="col-xs-3 wow fadeInUp" data-wow-delay="100ms">
	<a href="/collections/women-cloth" title="{{ settings.three_block_banner_text_1 }}">
	{{ 'women-cloths.jpg' | asset_url | img_tag }}
	{% if settings.display_banner_text_1 %}
	  <h4>
        <span>בגדים</span>
      </h4>

      <p>שמלות, ג'ינסים, מכנסים, ג'קטים, חולצות, חצאיות</p>
      <div class="btn" value="בגדים">צפייה בבגדים</div>
	{% endif %}
	</a>
	</li>
    <li class="col-xs-3 wow fadeInUp" data-wow-delay="300ms">
		<a href="/collections/collections-hand-bags" title="{{ settings.three_block_banner_text_2 }}">{{ 'women-bags.jpg' | asset_url | img_tag }}
			{% if settings.display_banner_text_2 %}
				<h4>
                  <span>תיקים</span></h4>

                  <p>תיקי קלאץ', תיקי צד, ארנקים, תיקי ערב</p>
      <div class="btn" value="בגדים">צפייה בתיקים</div>
			{% endif %}
		</a>
	</li>
    <li class="col-xs-3 wow fadeInUp" data-wow-delay="500ms">
	<a href="/collections/women-shoes" title="{{ settings.three_block_banner_text_3 }}">{{ 'women-shoes.jpg' | asset_url | img_tag }}
	{% if settings.display_banner_text_3 %}
	<h4>
                  <span>נעליים</span></h4>

                  <p>נעלים, מגפיים, סנדלים, נעלי עקב, אלגנט, מגפונים</p>
      <div class="btn" value="בגדים">צפייה בנעליים</div>
	{% endif %}
	</a>
	</li>

  <li class="col-xs-3 wow fadeInUp" data-wow-delay="500ms">
  <a href="/collections/accessorize" title="{{ settings.three_block_banner_text_3 }}">{{ 'women-accesorize.jpg' | asset_url | img_tag }}
  {% if settings.display_banner_text_3 %}
  <h4>
                  <span>אקססוריז</span></h4>

                  <p>תכשיטים, שעונים, משקפי שמש, צמידים</p>
      <div class="btn" value="בגדים">צפייה באקססוריז</div>
  {% endif %}
  </a>
  </li>
  </ul>
</section>
{% endif %}