

<section class="recently-viewed-products">
  {% if settings.recently_viewed_products_title != '' %}
  <h2><span>{{ settings.recently_viewed_products_title }}</span></h2>
  {% endif %}
  <div class="products-grid" id="recently-viewed-products-grid">
  </div>
</section>

{% raw %}
<script id="recently-viewed-product-grid-template" type="text/x-jquery-tmpl">
{% endraw %}
<div class="{% if settings.prouduct_item_no_hover%}product-item-no-hover{% endif %}  {% if settings.product_image_border%} grid-item-border {% endif %} {% if settings.product_image_crop%} crop_image {% else %} no_crop_image {% endif %} grid-item product-item {% raw %} {{if !available}} sold-out {{/if}} {{if compare_at_price_min > price_min}} on-sale {{/if}}"  id="product-${id}">
  <div class="product-top">
	<div class="product-image">
		<a href="${url}" class="product-grid-image">
		  <img src="${Shopify.Products.resizeImage(featured_image, "large")}" alt="${featured_image.alt}"/>
          
		</a>
        <div class="product-label">
          {{if compare_at_price_min > price_min}} 
               <strong class="label">מבצע</strong>
          {{/if}}
          {{if !available}} 
             <strong class="sold-out-label">אזל מהמלאי</strong>
          {{/if}}
        </div>
	</div>
  </div>
  
  
  <div class="product-bottom">
    <a class="product-title" href="${url}">${title}</a>	
    <span class="shopify-product-reviews-badge" data-id="${id}"></span>
    
	<div class="price-box">   
	{{if compare_at_price_min > price_min}} 
	  <p class="sale">
	    <span class="old-price"> {{html Shopify.formatMoney(compare_at_price_min, window.money_format)}}</span>
	    <span class="special-price">{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
  	  </p>
	{{else}}
	  <p class="regular-product">
	  	<span >{{if price_varies}}<em>from </em>{{/if}}{{html Shopify.formatMoney(price_min, window.money_format)}}</span>
	  </p>
	{{/if}}
	</div>
    
       
  </div>
</div>
</script>
{% endraw %}

